#container1 {
  width: 100vw;
  height: 50vh;
  font-family: Arizona;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0;
  text-align: center;
  padding: 20vh 0;
}
#statecontainer1 {
  display: flex;
  flex-direction: fit;
  width: 80vw;
  height: 50vh;
  font-family: Arizona;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0;
  text-align: center;
  padding: 3vh 0;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 20vh;
}
#container2 {
  width: 100vw;
  height: 50vh;

  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-family: Diatype;
  text-align: center;
  padding: 20vh 0;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0;
}
#namecontainer {
  z-index: -1;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding-right: 5vw;
}
.artist {
  grid-column: 2;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  font-family: Diatype, Helvetica, sans-serif;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0;
}
.major {
  grid-column: 1;
  grid-row: auto;
  font-size: 1.2vh;
  padding-left: 1rem;
  text-align: center;
  color: white;
  font-family: Diatype, Helvetica, sans-serif;
  font-weight: 300;

  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0;
}

#njari {
  grid-row: 1;
}
#isabelle {
  grid-row: 2;
}
#rudy {
  grid-row: 3;
}
#alana {
  grid-row: 4;
}
#constantin {
  grid-row: 5;
}
#justin {
  grid-row: 6;
}
#sage {
  grid-row: 7;
}
#jessie {
  grid-row: 8;
}
#scottl {
  grid-row: 9;
}
#perri {
  grid-row: 10;
}
#reece {
  grid-row: 11;
}
#joel {
  grid-row: 12;
}
#ray {
  grid-row: 13;
}
#jake {
  grid-row: 14;
}
#max {
  grid-row: 15;
}
#scott {
  grid-row: 16;
}
#chenxi {
  grid-row: 17;
}
#nina {
  grid-row: 18;
}
@font-face {
  font-family: Diatype;
  src: url(ABCDiatypeVariable-Trial.woff);
}
@font-face {
  font-family: Helveesti;
  src: url(ABCHelveestiPlusVariable-Trial.woff);
}
@font-face {
  font-family: Arizona;
  src: url(ABCArizonaTextVariable-Trial.woff);
}
img {
  max-height: 3rem;
  border: 1px solid rgb(0, 0, 0);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

img:hover {
  max-height: 12rem;
  border: 1px solid rgb(0, 0, 0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.artist:hover {
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0;
}
/* #statecontainer1:hover {
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0;
} */
#bar {
  display: flex;
  font-size: 1.2vh;
  color: white;
  font-weight: 300;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0;
  overflow: hidden;
  font-family: Diatype;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2100;
  width: 40%;
  height: auto;
  padding: 1rem 0.5rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
}

a {
  color: inherit;
  z-index: 9999999;
  text-decoration: underline; /* no underline */
}

a:hover {
  color: yellow;
}
